<?xml version="1.0" encoding="utf-8"?>
<manifest package="tw.mobage.g23000052"
      android:installLocation="auto"
      android:versionCode="7089"
      android:versionName="7.0.8.9" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="8"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	
	<uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="tw.mobage.g23000052.permission.C2D_MESSAGE" 
        android:protectionLevel="signature" />
    <uses-permission android:name="tw.mobage.g23000052.permission.C2D_MESSAGE" />
  
    <application android:name=".MyApplication" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher" android:debuggable="false">

        <activity android:name="MainActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:launchMode="standard"             
                  android:configChanges="keyboardHidden|orientation"
                  android:windowSoftInputMode="adjustPan">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
            	<action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data  android:scheme="mobage-tw-23000052" />
            </intent-filter>
            <intent-filter>
                <action android:name="tw.mobage.g23000052.RUN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity android:name="org.DeNA.DHLJ.DaHuaLongJiang"
                  android:label="@string/app_name"
                  android:launchMode="singleTask"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
                  android:screenOrientation="landscape"
                  android:configChanges="keyboardHidden|orientation"
                  android:windowSoftInputMode="adjustPan">
            <intent-filter>
            	<action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        
      <activity android:name="org.DeNA.DHLJ.VideoActivity"
                android:label="@string/app_name"
                android:screenOrientation="landscape"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:launchMode="singleTask"
                android:configChanges="keyboardHidden|orientation"
                android:windowSoftInputMode="adjustPan">
        <intent-filter>
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
      </activity>
      
         <activity android:name="com.mobage.android.MobageActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTask"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
                  android:screenOrientation="landscape"
                  android:configChanges="keyboardHidden|orientation"
                  android:windowSoftInputMode="adjustPan">
            <intent-filter>
            	<action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.denachina.account.weakaccount.WeakAccountActivity"
                  android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mobage.android.cn.userfreeze.UserFreezeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan">
        </activity>
        
        <service android:name="com.mobage.android.cn.autoupdate.DownloadService" />
        
        
        <receiver android:name="com.mobage.android.cn.autoupdate.InstallSDKReceiver">
        	<intent-filter>
                <action android:name="com.denachina.nativesdk.install.sdk" />
            </intent-filter>
        </receiver>
        
        
        
        <receiver android:name="com.mobage.android.cn.autoupdate.OnlineChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
		
		<activity android:name="com.mobage.android.cn.downloadmanager.DmActivity"
		    android:launchMode="singleTop"
		    android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.mobage.android.cn.downloadmanager.DmActivity" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.mobage.android.cn.downloadmanager.DmSettingActivity"></activity>
        
        <service android:name="com.mobage.android.cn.downloadmanager.DmService" >
            <intent-filter>
                <action android:name="com.mobage.android.cn.downloadmanager.DmService" />
            </intent-filter>
        </service>
        
        <receiver android:name="com.mobage.android.cn.downloadmanager.ConnectionChangeReceiver"></receiver>
        
        <receiver android:name="com.mobage.android.iab.BillingReceiver">
        <intent-filter>
                <action android:name="com.android.vending.billing.IN_APP_NOTIFY"/>
                <action android:name="com.android.vending.billing.RESPONSE_CODE"/>
        	 <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED"/>
        </intent-filter>
		</receiver>
		
     	<service android:name="com.mobage.android.iab.MobageBillingService"/>   
     	
		<receiver android:name="com.mobage.android.C2DMBaseReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="tw.mobage.g23000052" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="tw.mobage.g23000052" />
            </intent-filter>
        </receiver>
        
		<receiver android:name="org.DeNA.DHLJ.BootReceiver"
		    android:process=":pushservice_dhlj">
		    <intent-filter >
		        <action android:name="android.intent.action.BOOT_COMPLETED"/>
		    </intent-filter>
		</receiver>
		<service android:name="org.DeNA.DHLJ.PushService" android:label="DHLJ Push Notifications Service"
		    android:process=":pushservice_dhlj">
		</service>
    </application>
    <supports-screens android:largeScreens="true"
                      android:smallScreens="true"
                      android:anyDensity="true"
                      android:normalScreens="true"/>
</manifest> 
